p#pageLoad  total load time block
script(type='text/javascript' src='scripts/script.js')
script(type='text/javascript').
  //- get processed_time from response and assign it into variable server_processed_time
  const server_processed_time = #{processed_time};