doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title User Profile
    link(rel='stylesheet', href='./css/profile.css')
  body
    header
      h1 User Profile
    main
      #user-profile-container
        h3 Id: #{user.id}
        h3 Fullname: #{user.fullName}
        h3 Email: #{user.email}
        h3 Phone: #{user.phoneNumber}
        br
        br
        h2 Other random Information
        p
          strong Username:
          |  
          span#username
        p
          strong Name:
          |  
          span#name
        // Add 'pageLoad' element here
        block pageload 
            include ../components/payloadTime/payloadTime.pug
        #preloader
          | Loading...
        #error-message(style='color: red;')
    footer
      p © 2023 Israt Market. Все права защищены.
    script(src='./scripts/script.js')