.navbar
  img#logo(src='pics/logo.png' alt='logo')
.navbar
  ul
    li.navchoice
      a(href='/index') Главная #{is_authorised}
    li.navchoice
      a(href='/category') Категорииy 
    li.navchoice
      a(href='/about') О нас
    li.navchoice
      a(href='/buyList') Список покупки

#user 