extends ../components/layouts/main.pug

block append head
    title buy List

block content
    hr
    main
      section.buyList-section
        block pageload 
            include ../components/payloadTime/payloadTime.pug
        //- p#pageLoad  asdasdas
        h2 Что вам нужно купить?
        br
        br
        form#buyListForm(action='')
          label(for='item') Я хочу купить:
          .form-input
            input#itemInput(type='text', name='item', placeholder='Я хочу...')
            button#itemSubmit(type='submit') Submit
        br
        br
        h5 Ваш список
        br
        ul#buyList.buyList
      script(src='scripts/buyList.js')