extends ../components/layouts/main.pug

block append head
    title Chat
    link(rel='stylesheet' href='./css/chat.css')

block content
    hr
    main
        .container
            h1 Chat
            form#message_form
                textarea#message_input(placeholder="Enter message...")
                button(type="submit") Send
            div#messages

        script(src="https://web-6.onrender.com/socket.io/socket.io.js")
        script(src='scripts/chat/receiveMessage.js')
        script(src='scripts/chat/sendMessage.js')